<!doctype html>
<html lang="en">
  <%- include('partials/head.ejs')%>
    <body>
      <h1>Set User</h1>
      <% if (!userId) { %>
      <p>Sorry, you cannot access library without login into the system</p>
      <%- include('partials/login.ejs')%>
      <% } else {%>
      <ul>
        <% books.forEach(function(book) { %>
        <li>
          <a href="/books/<%= book.id %>"><%= book.title %><%= ' ' %></a>
          by <%= book.author %>
        </li>
        <%  }); %>
      </ul>
      <% } %>
    </body>
</html>
